html, body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  background: #d3d3d3;
  padding: 10px;
}

.calculator input {
  margin-bottom: 10px;
 }

.buttons-numbers, .operations {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.buttons-numbers button, .operations button {
  width: 18%;
  margin-bottom: 10px;
}